.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

    &__album-container {
        display: grid;
        grid-template-columns: repeat(5, 300px)
    }
}